<?xml version="1.0"?>

<launch>
  <arg name="frame"/>
  <arg name="worldFrame" default="world"/>

  <node name="px4_controller" pkg="px4_controller" type="px4_controller" output="screen">
   <param name="frame"  value="$(arg frame)" />
   <param name="worldFrame" value="$(arg worldFrame)" />
   <rosparam command="load" file="$(find px4_controller)/config/px4.yaml" />
  </node>
</launch>
